.sdf-addon{
    @include sdf-flex();
    @include sdf-horizontal-center;
    @include sdf-vertical-center;
    box-sizing: border-box;
    text-align: center;
    padding: $form-input-addon-padding;
    font-weight: $form-input-addon-font-weight;
    //background-color: lighten(color-get(default, contrast), $color-multiplier*2);
    //color: color-get(default, background);
    &.sdf-icon{
        min-width: map-get($buttons, normal-height);
        height: map-get($buttons, normal-height);
    }
}
// addon sizes
.sdf-list-group, .sdf-input-group{
    @each $size in $button-sizes{
        &.sdf-#{$size}{
            &>.sdf-addon{
                height: map-get($buttons, unquote("#{$size}-height"));
                min-width: map-get($buttons, unquote("#{$size}-height"));
                font-size: map-get($buttons, unquote("#{$size}-font-size"));
            }
        }
    }
}