.sdf-addon{
    @include sdf-flex();
    @include sdf-horizontal-center;
    @include sdf-vertical-center;
    box-sizing: border-box;
    text-align: center;
    padding: $form-input-addon-padding;
    font-weight: $form-input-addon-font-weight;
    flex: none;
    border-radius: $border-radius;
    &.sdf-icon{
        min-width: map-get($buttons, normal-height);
        height: map-get($buttons, normal-height);
        &.sdf-round{
            border-radius: 50%;
        }
        &.sdf-square{
            border-radius: 0;
        }
    }
}
// addon sizes
.sdf-list-group, .sdf-input-group{
    @each $size in $button-sizes{
        &.sdf-#{$size}{
            &>.sdf-addon{
                height: map-get($buttons, unquote("#{$size}-height"));
                min-width: map-get($buttons, unquote("#{$size}-height"));
                font-size: map-get($buttons, unquote("#{$size}-font-size"));
            }
        }
    }
}