/**
 * Borders
 */
.sdf-border{
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    border-radius: $border-radius;
    &.sdf-square{
		border-radius: 0;
	}
}
.sdf-box-glow{
    box-shadow: 0 2px 2px 0 rgba(255,255,255,.15), 0 3px 1px -2px rgba(255,255,255,.2), 0 1px 5px 0 rgba(255,255,255,.1);
}

.sdf-box-shadow{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.sdf-shadow-small{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.sdf-shadow{
	box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
}


// focus
.sdf-focus-outline-2x:focus{
    box-shadow: 0 0 0 1px rgba(color-get(primary, background), 0.5)
}
.sdf-focus-outline-3x:focus{
    box-shadow: 0 0 0 2px rgba(color-get(primary, background), 0.5)
}
.sdf-focus-outline-4x:focus{
    box-shadow: 0 0 0 3px rgba(color-get(primary, background), 0.5)
}