/**
 * Forms
 */

// input, select, textarea
.#{$sdf}-input{
    display: block;
    width: 100%;
    font-family: $font-family;
    padding: 0  map-get($forms, normal-padding);
    font-size: map-get($forms, normal-font-size);
    color: color-get(default, contrast);
    background-color: color-get(default, background);
    background-image: none;
    background-clip: padding-box;
    border: 1px solid  rgba(color-get(default, contrast), $border-color-opacity);
    border-radius: $input-border-radius;
    will-change: border-color, outline-color;
    transition: border-color 350ms ease-in-out, box-shadow 250ms ease-in-out;
    overflow: hidden;
    outline: 1px solid transparent;
    margin: 0;
    &:focus{
        border-color: color-get(primary, background);
        box-shadow: none;
        outline: none;
    }
    &.#{$sdf}-input-outline-2x:focus{
        box-shadow: 0 0 0 1px rgba(color-get(primary, background), 0.5)
    }
    &.#{$sdf}-input-outline-3x:focus{
        box-shadow: 0 0 0 2px rgba(color-get(primary, background), 0.5)
    }
    &.#{$sdf}-input-outline-4x:focus{
        box-shadow: 0 0 0 3px rgba(color-get(primary, background), 0.5)
    }
    &[disabled]{
        background-color: color-get(default, background);
    }
    @include input-placeholder(color-get(default, contrast));
}
input.#{$sdf}-input,
select.#{$sdf}-input{
    line-height: map-get($forms, normal-height) - 2px;
    height: map-get($forms, normal-height);
    @each $size in $forms-sizes{
        &.#{$sdf}-#{$size}{
            line-height: (map-get($forms, unquote("#{$size}-height")) - 2px);
            padding: 0 map-get($forms, unquote("#{$size}-padding"));
            font-size: map-get($forms, unquote("#{$size}-font-size"));
            height: map-get($forms, unquote("#{$size}-height"));
        }
    }
}
textarea.#{$sdf}-input{
    line-height: 1.2;
    padding: map-get($forms, normal-padding) map-get($forms, normal-padding);
    min-height: map-get($forms, normal-height) * 2;
    overflow-y: auto;
    @each $size in $forms-sizes{
        &.#{$sdf}-#{$size}{
            padding: map-get($forms, unquote("#{$size}-padding")) map-get($forms, unquote("#{$size}-padding"));
            font-size: map-get($forms, unquote("#{$size}-font-size"));
        }
    }
}

// form group
.#{$sdf}-form-group{
    margin-bottom: $grid-gutter/2;
    &.#{$sdf}-auto{
        @media (min-width: $media-min-xs){
            flex: 1 1 140px;
        }
        @media (max-width: $media-max-df){
            width: 100%;
        }
    }
    label{
        display: inline-block;
        font-weight: $forms-font-weight;
    }
    label + .#{$sdf}-input{
        margin-top: map-get($forms, normal-padding);
        @each $size in $forms-sizes{
            &.#{$sdf}-#{$size}{
                margin-top: map-get($forms, unquote("#{$size}-padding"));
            }
        }
    }
}
.#{$sdf}-form{
    margin-bottom: 0;
    &>.#{$sdf}-form-group:last-child{
        margin-bottom: 0;
    }
    &>.#{$sdf}-form-group:first-child{
        margin-top: 0;
    }
}
.#{$sdf}-form.#{$sdf}-gutter{
    padding-left: $grid-gutter/4;
    padding-right: $grid-gutter/4;
    &>.#{$sdf}-form-group.#{$sdf}-cell{
        padding-left: $grid-gutter/4;
        padding-right: $grid-gutter/4;
    }
}


// form input fieldset
.#{$sdf}-input-fieldset{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    margin: 0;
    padding: 0;
    border-radius: $input-border-radius;
    &>*{
        border-radius: 0;
        &:focus{
            z-index: 1;
        }
    }
    &>*:first-child{
        border-top-left-radius: $input-border-radius;
        border-top-right-radius: $input-border-radius;
    }
    &>*:last-child{
        border-bottom-left-radius: $input-border-radius;
        border-bottom-right-radius: $input-border-radius;
    }
    &>*:not(:first-child){
        margin-top: -1px;
    }
}
.#{$sdf}-input-addon{
    border-left: 1px solid  rgba(color-get(default, contrast), $border-color-opacity);
    border-top: 1px solid  rgba(color-get(default, contrast), $border-color-opacity);
    border-bottom: 1px solid  rgba(color-get(default, contrast), $border-color-opacity);
    height: map-get($buttons, normal-height);
    line-height: map-get($buttons, normal-height);
    box-sizing: border-box;
    padding: $form-input-addon-padding;
    &.#{$sdf}-icon{
        text-align: center;
        min-width: map-get($buttons, normal-height);
    }
}
.#{$sdf}-input-group{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    &>.#{$sdf}-input{
        &:focus{
            z-index: 1;
        }
    }
    &>*:first-child{
        border-left: 1px solid  rgba(color-get(default, contrast), $border-color-opacity);
        border-top: 1px solid  rgba(color-get(default, contrast), $border-color-opacity);
        border-bottom: 1px solid  rgba(color-get(default, contrast), $border-color-opacity);
        border-top-left-radius: $input-border-radius;
        border-bottom-left-radius: $input-border-radius;
    }
    &>*:last-child{
        border-right: 1px solid  rgba(color-get(default, contrast), $border-color-opacity);
        border-top: 1px solid  rgba(color-get(default, contrast), $border-color-opacity);
        border-bottom: 1px solid  rgba(color-get(default, contrast), $border-color-opacity);
        border-top-right-radius: $input-border-radius;
        border-bottom-right-radius: $input-border-radius;
    }
    &>.#{$sdf}-input-addon:last-child{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    &>.#{$sdf}-input-addon:first-child{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    &>.#{$sdf}-input:not(:first-child){
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    &>.#{$sdf}-input:not(:last-child){
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    &>.#{$sdf}-input+.#{$sdf}-input-addon:not(:first-child){
        border-left: 0;
    }

    &>.#{$sdf}-input-addon:not(:last-child){
        border-right: 0;
    }
}
.#{$sdf}-input-fieldset{
    &>.#{$sdf}-input-group:not(:first-child):not(:last-child){
        &>*{
            border-radius: 0;
        }
    }
    &>.#{$sdf}-input-group:first-child{
        &>*{
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
    &>.#{$sdf}-input-group:last-child{
        &>*{
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }
    }
}

// addon sizes
.#{$sdf}-input-group{
    @each $size in $button-sizes{
        &.#{$sdf}-#{$size}{
            &>.#{$sdf}-input-addon{
                height: map-get($buttons, unquote("#{$size}-height"));
                line-height: map-get($buttons, unquote("#{$size}-height"));
                font-size: map-get($buttons, unquote("#{$size}-font-size"));
            }
            &>textarea.#{$sdf}-input{
                font-size: map-get($forms, unquote("#{$size}-font-size"));
            }
            &>input.#{$sdf}-input,
            &>select.#{$sdf}-input{
                height: map-get($forms, unquote("#{$size}-height"));
                line-height: (map-get($forms, unquote("#{$size}-height")) - 2px);
                padding: 0 map-get($forms, unquote("#{$size}-padding"));
                font-size: map-get($forms, unquote("#{$size}-font-size"));
            }
        }
    }
}

.#{$sdf}-form-horizontal{
    .#{$sdf}-form-group{
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        label{
            flex: 1 0 auto;
            margin-bottom: 0;
            margin-right: $grid-gutter/2;
            text-align: right;
        }
    }
}