/**
 * Globals
 */
 html{
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: $font-line-height;
    box-sizing: border-box;
}
*, :before, :after{
	box-sizing: inherit;
}
body{
    -ms-overflow-style: scrollbar;
    margin: 0;
}
::-moz-selection {
    background: #9dd9ff;
    text-shadow: none
}

::selection {
    background: #9dd9ff;
    text-shadow: none
}

