/**
 * Globals
 */
html,body{
    margin: 0;
    padding: 0;
    -ms-overflow-style: scrollbar;
}

::-moz-selection {
    background: #9dd9ff;
    text-shadow: none
}

::selection {
    background: #9dd9ff;
    text-shadow: none
}

