/**
 * SDF grid
 */

@mixin clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin make-grid(){
    @include sdf-flex();
    @include sdf-flex-flow-row-wrap();
    @include sdf-vertical-stretch();
    box-sizing: border-box;
}

.sdf-grid{
    @include make-grid();
    margin: 0;
}
.sdf-grid-fixed{
    @include make-grid();
    margin: 0 auto;
    // generating fixed grid sizes
    @each $breakpoint in $grid{
        @if map-get($breakpoint, width) != null {
            @media (min-width: map-get($breakpoint, width)){
                width: map-get($breakpoint, width);
            }
        }
    }
}
.sdf-grid, .sdf-grid-fixed{
    &.sdf-gutter>.sdf-cell{
        padding-left: $grid-gutter/2;
        padding-right: $grid-gutter/2;
    }
    &.sdf-gutter-small>.sdf-cell{
        padding-left: $grid-gutter/4;
        padding-right: $grid-gutter/4;
    }
    &.sdf-gutter-big>.sdf-cell{
        padding-left: $grid-gutter;
        padding-right: $grid-gutter;
    }

}
.sdf-cell{
    box-sizing: border-box;
    position: relative;
}
.sdf-clearfix{
    @include clearfix();
}

@mixin container(){
    display: block;
    padding-left:  ($grid-gutter / 2);
    padding-right: ($grid-gutter / 2);
    box-sizing: border-box;
    @include clearfix();
}

@mixin make-row() {
    margin-left:  ($grid-gutter / -2);
    margin-right: ($grid-gutter / -2);
    @include clearfix();
}

@mixin make-col(){
    float: left;
    display: block;
    position: relative;
    min-height: 1px;
    padding-left:  ($grid-gutter / 2);
    padding-right: ($grid-gutter / 2);
    box-sizing: border-box;
}

.sdf-container{
    width: 100%;
    @include container();
}
.sdf-container-fixed{
    @include container();
    margin-left: auto;
    margin-right: auto;
    @each $breakpoint in $grid{
        @if map-get($breakpoint, width) != null {
            @media (min-width: map-get($breakpoint, width)){
                width: map-get($breakpoint, width);
            }
        }
    }
}
.sdf-row{
    @include make-row();
}
.sdf-col{
    @include make-col();
}
.sdf-df-auto{
    flex: 1 1 $auto-min-width;
}
@media (max-width: $media-max-df){
    .sdf-auto{
        width: 100%;
    }
}
@media (min-width: $media-min-xs){
    .sdf-auto{
        flex: 1 1 $auto-min-width;
    }
}

@mixin  grid-media($type, $cols-count){
    @if $type != null {
        .sdf-#{$type}-auto{
            flex: 1 1 $auto-min-width;
        }
    }
    @for $i from 1 through $cols-count {
        @if $type == null {
            .sdf-#{$i}{
                width: #{percentage($i / $cols-count)};
            }
            .sdf-offset-#{$i}{
                margin-left: #{percentage($i / $cols-count)};
            }
        } @else {
            .sdf-#{$type}-#{$i}{
                width: #{percentage($i / $cols-count)};
            }
            .sdf-offset-#{$type}-#{$i}{
                margin-left: #{percentage($i / $cols-count)};
            }
        }
    }
}

// generates default cell sizes;
@include grid-media(null, $grid-cols);
// generates all the cell sizes for each breakpoint (except default)
@each $breakpoint in $grid{
    @media (min-width: map-get($breakpoint, media)){
        @include grid-media(map-get($breakpoint, prefix), map-get($breakpoint, cols));
    }
}
