/**
 * Helpers
 */

// block positioning
.#{$sdf}-block-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.#{$sdf}-float-right{
    float: right;
}
.#{$sdf}-float-left{
    float: left;
}
// responsive image
img.#{$sdf}-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}
// text positioning
.#{$sdf}-text-center{
    text-align: center;
}
.#{$sdf}-text-right{
    text-align: right;
}
.#{$sdf}-text-left{
    text-align: left;
}

// padding spacing
.#{$sdf}-pad{
    padding: $grid-gutter/2;
}
.#{$sdf}-pad-small{
    padding: $grid-gutter/3;
}
.#{$sdf}-pad-big{
    padding: $grid-gutter;
}
.#{$sdf}-pad-horizontal{
    padding-left: $grid-gutter/2;
    padding-right: $grid-gutter/2;
}
.#{$sdf}-pad-horizontal-small{
    padding-left: $grid-gutter/3;
    padding-right: $grid-gutter/3;
}
.#{$sdf}-pad-horizontal-big{
    padding-left: $grid-gutter;
    padding-right: $grid-gutter;
}
.#{$sdf}-pad-vertical{
    padding-top: $grid-gutter/2;
    padding-bottom: $grid-gutter/2;
}
.#{$sdf}-pad-vertical-small{
    padding-top: $grid-gutter/3;
    padding-bottom: $grid-gutter/3;
}
.#{$sdf}-pad-vertical-big{
    padding-top: $grid-gutter;
    padding-bottom: $grid-gutter;
}

// margin spacing
.#{$sdf}-margin{
    margin: $grid-gutter/2;
}
.#{$sdf}-margin-small{
    margin: $grid-gutter/3;
}
.#{$sdf}-margin-big{
    margin: $grid-gutter;
}
.#{$sdf}-margin-horizontal{
    margin-left: $grid-gutter/2;
    margin-right: $grid-gutter/2;
}
.#{$sdf}-margin-horizontal-small{
    margin-left: $grid-gutter/3;
    margin-right: $grid-gutter/3;
}
.#{$sdf}-margin-horizontal-big{
    margin-left: $grid-gutter;
    margin-right: $grid-gutter;
}
.#{$sdf}-margin-vertical{
    margin-top: $grid-gutter/2;
    margin-bottom: $grid-gutter/2;
}
.#{$sdf}-margin-vertical-small{
    margin-top: $grid-gutter/3;
    margin-bottom: $grid-gutter/3;
}
.#{$sdf}-margin-vertical-big{
    margin-top: $grid-gutter;
    margin-bottom: $grid-gutter;
}



// absolute position block
.#{$sdf}-absolute{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.#{$sdf}-auto{

}
// flex positioning
.#{$sdf}-flex{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.#{$sdf}-vertical-stretch{
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.#{$sdf}-vertical-center{
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.#{$sdf}-vertical-top{
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}
.#{$sdf}-vertical-bottom{
    -webkit-align-items: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
}
.#{$sdf}-horizontal-stretch{
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
}
.#{$sdf}-horizontal-center{
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.#{$sdf}-horizontal-left{
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
}
.#{$sdf}-horizontal-right{
    -webkit-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
}
.#{$sdf}-content-center{
   -ms-flex-line-pack: center;
    -webkit-align-content: center;
    align-content: center;
}
.#{$sdf}-content-start{
    -ms-flex-line-pack: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
}
.#{$sdf}-content-end{
    -ms-flex-line-pack: flex-end;
    -webkit-align-content: flex-end;
    align-content: flex-end;
}

/**
 * visibility block
 */
.#{$sdf}-visible-df,
.#{$sdf}-visible-xs,
.#{$sdf}-visible-min-xs,
.#{$sdf}-visible-max-xs,
.#{$sdf}-visible-sm,
.#{$sdf}-visible-min-sm,
.#{$sdf}-visible-max-sm,
.#{$sdf}-visible-md,
.#{$sdf}-visible-min-md,
.#{$sdf}-visible-max-md,
.#{$sdf}-visible-lg{
    display: none !important;
}
.#{$sdf}-visible-df {
    @media (max-width: $media-max-df) {
        display: block!important;
    }
}
.#{$sdf}-visible-max-xs {
    @media (max-width: $media-max-xs) {
        display: block!important;
    }
}
.#{$sdf}-visible-min-xs {
    @media (min-width: $media-min-xs) {
        display: block!important;
    }
}
.#{$sdf}-visible-xs {
    @media (min-width: $media-min-xs) and (max-width: $media-max-xs) {
        display: block!important;
    }
}

.#{$sdf}-visible-sm {
    @media (min-width: $media-min-sm) and (max-width: $media-max-sm) {
        display: block!important;
    }
}
.#{$sdf}-visible-min-sm {
    @media (min-width: $media-min-sm) {
        display: block!important;
    }
}
.#{$sdf}-visible-max-sm {
    @media (max-width: $media-max-sm) {
        display: block!important;
    }
}
.#{$sdf}-visible-md {
    @media (min-width: $media-min-md) and (max-width: $media-max-md) {
        display: block!important;
    }
}
.#{$sdf}-visible-min-md {
    @media (min-width: $media-min-md) {
        display: block!important;
    }
}
.#{$sdf}-visible-max-md {
    @media (max-width: $media-max-md) {
        display: block!important;
    }
}
.#{$sdf}-visible-lg {
    @media (min-width: $media-min-lg) {
        display: block!important;
    }
}
.#{$sdf}-hidden-df {
    @media (max-width: $media-max-df) {
        display: none!important;
    }
}
.#{$sdf}-hidden-max-xs {
    @media (max-width: $media-max-xs) {
        display: none!important;
    }
}
.#{$sdf}-hidden-xs {
    @media (min-width: $media-min-xs) and (max-width: $media-max-xs) {
        display: none!important;
    }
}
.#{$sdf}-hidden-max-xs {
    @media (max-width: $media-max-xs) {
        display: none!important;
    }
}
.#{$sdf}-hidden-sm {
    @media (min-width: $media-min-sm) and (max-width: $media-max-sm) {
        display: none!important;
    }
}
.#{$sdf}-hidden-min-sm {
    @media (min-width: $media-min-sm) {
        display: none!important;
    }
}
.#{$sdf}-hidden-max-sm {
    @media (max-width: $media-max-sm) {
        display: none!important;
    }
}
.#{$sdf}-hidden-md {
    @media (min-width: $media-min-md) and (max-width: $media-max-md) {
        display: none!important;
    }
}
.#{$sdf}-hidden-min-md {
    @media (min-width: $media-min-md) {
        display: none!important;
    }
}
.#{$sdf}-hidden-max-md {
    @media (max-width: $media-max-md) {
        display: none!important;
    }
}

.#{$sdf}-hidden-lg {
    @media (min-width: $media-min-lg) {
        display: none!important;
    }
}
