/**
 * grid
 */


$col-types: "xs", "sm", "md", "lg";

$media-max-xs: 767px;
$media-min-sm: 768px;
$media-max-sm: 991px;
$media-min-md: 992px;
$media-max-md: 1199px;
$media-min-lg: 1200px;




// Clearfix
@mixin clearfix() {
	&:before,
	&:after {
		content: " "; 
		display: table;
	}
	&:after {
		clear: both;
	}
}
@mixin center-block(){
	display: block;
	margin-left: auto;
	margin-right: auto;
}
@mixin make-grid(){
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	margin: 0 auto;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	padding: ($grid-gutter / 2);
}
@mixin make-cell{
	box-sizing: border-box;
	position: relative;
	margin: ($grid-gutter / 2);
}


.sdf-grid{
	@include make-grid();
	@include clearfix;
	&.sdf-grid-fixed{
		@media(min-width: $media-min-lg){
			width: $grid-lg-width;
		}
		@media(min-width: $media-min-md) and (max-width: $media-max-md){
			width: $grid-md-width;
		}
		@media(min-width: $media-min-sm) and (max-width: $media-max-sm){
			width: $grid-sm-width;
		}
	}
}

.sdf-cell{
	@include make-cell();
	&.sdf-cell-hidden-xs {
		@media (max-width: $media-max-xs) {
			display: none;
		}
	}

	&.sdf-cell-hidden-sm {
		@media (min-width: $media-min-sm) and (max-width: $media-max-sm) {
			display: none;
		}
	}

	&.sdf-cell-hidden-md {
		@media (min-width: $media-min-md) and (max-width: $media-max-md) {
			display: none;
		}
	}

	&.sdf-cell-hidden-lg {
		@media (min-width: $media-min-lg) {
			display: none;
		}
	}
}


.sdf-clearfix, .clear{
	@include clearfix();
}



@mixin  grid-media($type){
	$col-list: null;
	@for $i from 1 through $max-cols {
		.sdf-#{$type}-#{$i}{
			width: calc(#{percentage($i / $max-cols)} - #{$grid-gutter});

		}
		$col-list: append($col-list, unquote(".sdf-#{$type}-#{$i}"), comma);
	}
}



@include grid-media("xs");
@media (min-width: $media-min-sm){
	@include grid-media("sm");
}
@media (min-width: $media-min-md){
	@include grid-media("md");
}
@media (min-width: $media-min-lg){
	@include grid-media("lg");
}
