/**
 * Toasts
 */
 .sdf-toast-container-bottom{
 	position: fixed;
 	left: 0;
 	right: 0;
 	bottom: 0;
 	height: 0;
 }
 .sdf-toast-container-top{
 	position: fixed;
 	outline: 1px solid red;
 	left: 0;
 	right: 0;
 	top: 0;
 	height: 0;
 }

 .sdf-toast{
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     overflow: hidden;
     width: 100%;
     position: relative;
     border-radius: 2px;
     box-sizing: border-box;
     width: 400px;
     margin-left: auto;
     margin-right: auto;
     padding: $grid-gutter/2;
     .sdf-toast-header, .sdf-toast-footer, .sdf-toast-body, .sdf-toast-footer{
     	padding: 0;
     	margin-bottom: $grid-gutter/2;
     	width: 100%;
     	box-sizing: border-box;
    }

    &>div:first-child>*{
    	margin-top: 0;
    }
  	&>div:last-child{
  		margin-bottom: 0;
  	}

 }