// namespace
$sdf: "sdf";
/**
 * Grid
 */
$grid-cols: 12;          // default cols count
$grid-gutter: 32px;     // default spacing between cells/cols
$grid-lg-width: 1152px;
$grid-md-width: 948px;
$grid-sm-width: 756px;


$col-types: "xs", "sm", "md", "lg";
$media-max-df: 549px;
$media-min-xs: 550px;
$media-max-xs: 767px;
$media-min-sm: 768px;
$media-max-sm: 991px;
$media-min-md: 992px;
$media-max-md: 1199px;
$media-min-lg: 1200px;

$grid : (
   (
        cols: $grid-cols,
        media: $media-min-xs,
        prefix: "xs",
        width: null
    ),(
        cols: $grid-cols,
        media: $media-min-sm,
        prefix: "sm",
        width: $grid-sm-width
    ),(
        cols: $grid-cols,
        media: $media-min-md,
        prefix: "md",
        width: $grid-md-width
    ),(
        cols: $grid-cols,
        media: $media-min-lg,
        prefix: "lg",
        width: $grid-lg-width
    )
);

// colors
$color-multiplier: 10%;
$font-color-multiplier: 0%;
$input-border-opacity: 0.7;
$color-types: "default", "primary", "secondary", "warning", "info", "success", "danger", "light", "dark";
$colors: (
    default: (
        background: #fff,
        contrast:   #6c6d6f,
        font:       #3c3d3f
    ),
    primary: (
        background: #1f8dd6,
        contrast:   #fff,
        font:       darken(#1f8dd6, $font-color-multiplier)
    ),
    secondary: (
        background:  #8058a5,
        contrast:    #ffffff,
        font:       darken( #8058a5, $font-color-multiplier)
    ),
    warning: (
        background: #fad232,
        contrast:   #fff,
        font:       darken(#fad232, $font-color-multiplier)
    ),
    info: (
        background: #61a7bf,
        contrast:   #ffffff,
        font:       darken(#61a7bf, $font-color-multiplier)
    ),
    success: (
        background: #5eb95e,
        contrast:   #fff,
        font:       darken(#5eb95e, $font-color-multiplier)
    ),
    danger: (
        background: #dd514c,
        contrast:   #fff,
        font:       darken(#dd514c, $font-color-multiplier)
    ),
    light: (
        background: #f3f3f3,
        contrast:   #545454,
        font:       #545454
    ),
    dark: (
        background: #343E40,
        contrast:   #fff,
        font:       #343E40
    )
);



// buttons
$border-radius: 4px;
$button-border-radius: $border-radius;
$button-group-border-radius: $border-radius;
$tab-group-border-radius: $border-radius;
$input-border-radius: $border-radius;
$list-menu-border-radius: $border-radius;



$button-sizes: "normal", "big", "small";
$buttons: (
    normal-height: 36px,
    normal-padding: 18px,
    normal-font-size: 14px,
    normal-min-width: 64px,
    small-height: 26px,
    small-padding: 13px,
    small-font-size: 13px,
    small-min-width: 52px,
    big-height: 48px,
    big-padding: 24px,
    big-font-size: 17px,
    big-min-width: 96px
);
$button-font-weight: 400;
//forms
$forms-sizes: "normal", "big", "small";
$forms: (
    normal-height: 36px,
    normal-padding: 10px,
    normal-font-size: 16px,
    small-height: 26px,
    small-padding: 8px,
    small-font-size: 15px,
    big-height: 48px,
    big-padding: 12px,
    big-font-size: 18px
);
$forms-font-weight: 400;
$forms-placeholder-font-weight: 300;
$forms-placeholder-color-opacity: 0.7;
// breadcrumbs
$breadcrumbs-separator: "/";
$breadcrumbs-item-margin: 0.5rem;
// badge
$badge-border-radius: $border-radius;
$badge-font-size: 100%;
$badge-font-weight: 700;
$badge-margin: 4px;
$badge-padding: 0 4px;
// typography
$font-family: "Roboto", Helvetica, Arial, sans-serif;
$font-color: #3c3d3f;
$font-size: 16px;
$font-paragraph-size: 1.125rem;
$font-weight: 300;
$font-line-height: 1.2;
$font-size-small: 75%;
$font-paragraph-margin: 0 0 0.75rem 0;
$font-paragraph-max-width: 40rem;
$font-heading-margin: 1.414rem 0 0.5rem 0;
$font-heading-weight: inherit;
$font-heading-h1-font-size: 3.157rem;
$font-heading-h2-font-size: 2.369rem;
$font-heading-h3-font-size: 1.777rem;
$font-heading-h4-font-size: 1.333rem;

// alerts
$alert-width: 420px;
$alert-border-radius: 4px;

// forms
$form-group-label-margin-bottom: 10px;
$form-input-addon-padding: 0 10px;


// transitions
$transition-normal:  350ms ease-in-out;
$transition-short: 250ms ease-in-out;
$transition-long: 450ms ease-in-out;

// borders
$border-opacity: 0.4;

// dropdowns
$dropdown-margin: $grid-gutter / 4;
$dropdown-z-index: 100;

// side menus
$sidemenu-width: 260px;
